body {
    font-size: 18px;
}

.footnotes {
    font-size: 16px;
}

a:link {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #333;
    text-decoration: underline;
}

a:hover {
    color: #660066;
}

a:active {
    color: #660066;
}

pre .operator {
    color: #000;
    font-weight: bold;
}

pre .keyword {
    color: #000;
    font-weight: normal;
}

pre .identifier {
    color: #333;
}

pre .paren {
    color: rgb(104, 118, 135)
}

pre .literal {
    color: #400040;
}

pre .number {
    color: #400040;
}

pre .comment {
    color: #998;
    font-style: normal;
}

pre .string {
    color: #660066;
}
