/.snakemake
/.guix/profile*
/.cache
/site
/rmd/*_files
/rmd/*_cache
__pycache__
.Rhistory

*.dat
*.csv
*.data.R
*.params.R
*.info.R
*.rds

/rmd/_song2017how-table-s1.md
/rmd/*-session-info.txt
/rmd/*.stan
